.my-work{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 80px;
margin: 80px 170px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    gap: 50px;
    grid-template-columns:1fr 1fr 1fr;
}
.mywork-container img{
    width: 419px;
    height: 300px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;

}
.mywork-container img:hover{
    transform: scale(1.1);
    border: 4px solid #FFD700;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 40px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
    }
    .mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
    }

    @media(max-width: 768px){
        .my-work{
            margin: 80px 50px;
            gap: 50px;
            align-items: start;
        }
        .mywork-title h1{
            font-size: 50px;
            padding: 0;
            font-weight: 600;
        }
        .mywork-title img{
            width: 130px;
            margin-right: -20px;
        }
        .mywork-container{
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        .mywork-container img{
            width: 100%;
            height: 100%;
        }
        .mywork-showmore{
            padding: 20px 40px;
            font-size: 18px;
            margin: 50px auto;
            cursor: pointer;
        }
    }
@media (max-width: 1200px) {
    .mywork-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .my-work {
        margin: 80px 100px;
    }
}

/* Media Query for Very Large Screens */
@media (min-width: 1600px) {
    .my-work {
        max-width: 1600px;
        margin: 80px auto;
    }
    .mywork-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }
}    